@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika+Negative:wght@500&display=swap');

body {
	font-family: 'Signika Negative', sans-serif;
	background-image: url('\\static\\img\\image.jpg');
	/*background-image: url('C:\\Users\\Tejas\\PycharmProjects\\mailingsys\\mailSystem\\static\\img\\image.jpg');*/
	
}


/*.form-group.row small {
	color: #e74c3c;
	visibility: hidden;
}

.form-group.row.invalid small {
	visibility: visible;
}*/

h1{
	margin-left: 10px;
	color: #f5a80a;
	font-family: 'Lobster', cursive;
}

h4 {
	color: #f5a80a;
	font-family: 'Lobster', cursive;
}




.row{
	background-color: #ffffff;
	padding: 10px;
	border-radius: 25px;
}

.container{
	margin-top: 20px;
}

#navb {
	box-shadow: 10px;
}

#sub-btn{
	margin-top: 20px;
} 